<div id="header">
		<div id="header-inner">
			<div id="logo">
				<a href="home.html"><img src="<%= image_path 'logoEC9.png'%>" alt="image description"/>	</a>
			</div><!-- end logo -->

			<ul id="navigation">
				<li>
					<a href="home.html">Home
					</a>
				</li>

				<li>
					<a class="active-nav" href="empresa.html">A Empresa
						<span>Mais Detalhes</span>
					</a>
				</li>

				<li>
					<a href="portfolio.html">Portfolio
						<span>Mais Dethalhes</span>						
					</a>
				</li>
				
				<li>
					<a href="clientes.html">Clientes
						<span>Mais Dethalhes</span>						
					</a>
				</li>

				<li>
					<a href="contato.html">Contato
						<span>Mais Detalhes</span>
					</a>
				</li>
			</ul><!-- end navigation -->

			<div class="clear"></div><!-- end clearfix -->
		</div><!-- end header-inner -->
	</div><!-- end header -->	
	<div id="page-headline">
	
		<div id="page-headline-inner">	
		
			<div id="page-title">
				<h2>Contato</h2>
				<p>Dúvidas, sugestões, pedidos, reclamações...</p>
			</div><!-- end page-title -->			
			
			<div class="breadcrumbs">
				<span>Você está aqui:</span> <a href="home.html">Home</a> / Contato			
			</div><!-- end breadcrumbs -->
			
		</div><!-- end page-headline-inner -->
	
		<div class="separator"></div>	
	</div><!-- end page-headline -->		

	<div id="wrapper">

		<div id="content" class="cont-left">		
			
			<h2>NAO SEI O Q POR AKI</h2>
			<p>Envie-nos sua mensagem e responderemos o mais rápido possível!</p>
				<%= form_for @mensagem, :url => contato_path do |form| %>
				<p><%= form.label :nome%><br />
				<%= form.text_field :nome %><br />
				<p><%= form.label :email %><br />
				<%= form.text_field :email %><br />
				<p><%= form.label :assunto %><br />
				<%= form.text_field :assunto %><br />
				<p><%= form.label :mensagem %><br />
				<%= form.text_area :mensagem %><br />
				
				<%= form.submit "Enviar"%>
			<% end %>	
						
		</div><!-- end content -->
		
		<div class="clear"></div>
		
	</div><!-- end wrapper -->
	