<div id="header">
		<div id="header-inner">
			<div id="logo">
				<a href="home.html"><img src="<%= image_path 'logoEC9.png'%>" alt="image description"/>	</a>
			</div><!-- end logo -->

			<ul id="navigation">
				<li>
					<a href="home.html">Home
					</a>
				</li>

				<li>
					<a class="active-nav" href="empresa.html">A Empresa
						<span>Mais Detalhes</span>
					</a>
				</li>

				<li>
					<a href="portfolio.html">Portfolio
						<span>Mais Dethalhes</span>						
					</a>
				</li>
				
				<li>
					<a href="clientes.html">Clientes
						<span>Mais Dethalhes</span>						
					</a>
				</li>

				<li>
					<a href="contato.html">Contato
						<span>Mais Detalhes</span>
					</a>
				</li>
			</ul><!-- end navigation -->

			<div class="clear"></div><!-- end clearfix -->
		</div><!-- end header-inner -->
	</div><!-- end header -->	
	<div id="page-headline">
	
		<div id="page-headline-inner">	
		
			<div id="page-title">
				<h2>Contato</h2>
				<p>Dúvidas, sugestões, pedidos, reclamações...</p>
			</div><!-- end page-title -->			
			
			<div class="breadcrumbs">
				<span>Você está aqui:</span> <a href="home.html">Home</a> / Contato			
			</div><!-- end breadcrumbs -->
			
		</div><!-- end page-headline-inner -->
	
		<div class="separator"></div>	
	</div><!-- end page-headline -->		

	<div id="wrapper">

		<div id="content" class="cont-left">		
			
			<h2>NAO SEI O Q POR AKI</h2>
			<p>Envie-nos sua mensagem e responderemos o mais rápido possível!</p>
			<%= form_for @contact_message, :as => :mensagem_contato, 
                                 :url => { :controller => :mensagem_contato_controller, :action => :create },
                                 :remote => true do |f| %>						
				
				<p> <%= f.label :nome %>:<br />
				<%= f.text_field :nome %>
				<p><%= f.label :email %>:<br />
				<%= f.text_field :email %></p>
				<p> <%= f.label :assunto %>:<br />
				<%= f.text_field :assunto %></p></p>
				<p><%= f.label :mensagem %>:<br />
				<%= f.text_area :mensagem, :rows => 10 %>
				<%= f.submit "Enviar" %><br />
				<p id="message-outcome"></p>
			<% end %>
			
		</div><!-- end content -->
		
		<div class="clear"></div>
		
	</div><!-- end wrapper -->
	