<div id="header">
		<div id="header-inner">
			<div id="logo">
				<a href="index.html"><img src="<%= image_path 'logoEC9.png'%>" alt="image description"/>	</a>
			</div><!-- end logo -->

			<ul id="navigation">
				<li>
					<a href="home.html">Home
					</a>
				</li>

				<li>
					<a class="active-nav" href="empresa.html">A Empresa
						<span>Mais Detalhes</span>
					</a>
				</li>

				<li>
					<a href="portfolio.html">Portfolio
						<span>Mais Dethalhes</span>						
					</a>
				</li>
				
				<li>
					<a href="clientes.html">Clientes
						<span>Mais Dethalhes</span>						
					</a>
				</li>

				<li>
					<a href="contato.html">Contato
						<span>Mais Detalhes</span>
					</a>
				</li>
			</ul><!-- end navigation -->

			<div class="clear"></div><!-- end clearfix -->
		</div><!-- end header-inner -->
	</div><!-- end header -->	
	<div id="page-headline">
	
		<div id="page-headline-inner">	
		
			<div id="page-title">
				<h2>Portifolio</h2>
				<p>asdasdas.</p>
			</div><!-- end page-title -->			
			
			<div class="breadcrumbs">
				<span>Você está aqui:</span> <a href="index.html">Início</a> / Sobre nós			
			</div><!-- end breadcrumbs -->
			
		</div><!-- end page-headline-inner -->	
			
		<div class="separator"></div>
	</div><!-- end page-headline -->	

	<div id="wrapper">

		<div id="portfolio-content">
			<div class="gallery-thumbs">		
		
				<div class="item">
					<div class="preview two-third">
						<div class="gallery-overlay">					
							<a title="" class="zoom" href="<%= image_path 'portfolio/gallery/fazbonito_zoom.png'%>" rel="prettyPhoto">
								<img src="<%= image_path 'portfolio/gallery/fazbonito.png' %>" alt="#FAZBONITO"/>
							</a>
						</div>
					</div><!-- end preview -->
					
					<div class="item-details one-third">
						<h3>Portal #FAZ BONITO</h3>
						<p>Uma idéia ousada que visa grande participação da população de Ribeirão Bonito - SP</p>
						
						<ul class="custom-list check">
							<li>Informações/dicas para as eleições</li>
							<li>Cadastro de usuários</li>
							<li>Área Administrativa</li>			
							<li>Área Administrativa</li>			
						</ul>
						
						
					</div><!-- end item-details -->
					<div class="clear"></div>
				</div><!-- end item -->	

				<div class="separator"></div>			
				
				<div class="item">
					<div class="preview two-third">
						<div class="gallery-overlay">					
							<a title="" class="zoom" href="<%= image_path 'portfolio/gallery/baldan_zoom.png' %>" rel="prettyPhoto">
								<img src="<%= image_path 'portfolio/gallery/baldan.png'%>" alt="Baldan" />
							</a>
						</div>
					</div><!-- end preview -->
					
					<div class="item-details one-third">
						<h3>Baldan</h3>
						<p>Tradição em máquinas para madeira.</p>
						
						<ul class="custom-list check">
							<li>Produtos</li>
							<li>Newsletter</li>
							<li>Área Administrativa</li>			
							<li>Área Administrativa</li>			
						</ul>
						
						
					</div><!-- end item-details -->
					<div class="clear"></div>
				</div><!-- end item -->
				
<!--				<div class="separator"></div>			-->
<!--				-->
<!--				<div class="item">-->
<!--					<div class="preview two-third">-->
<!--						<div class="gallery-overlay">					-->
<!--							<a class="link" href="http://www.themeforest.net/?iframe=true&amp;width=70%&amp;height=60%" title="themeforest.net" rel="prettyPhoto">-->
<!--								<img src="../img/portfolio/gallery/1003.jpg" alt="description" />-->
<!--							</a>-->
<!--						</div>-->
<!--					</div> end preview -->
<!--					-->
<!--					<div class="item-details one-third">-->
<!--						<h3>Themeforest Site iFrame</h3>-->
<!--						<p>Fusce scelerisque pellentesque mi. Suspendisse elementum tellus ut quam pharetra vel volutpat.</p>-->
<!--						-->
<!--						<ul class="custom-list check">-->
<!--							<li>Consectetur adipiscing elit</li>-->
<!--							<li>Aliquam in justo a sapien </li>-->
<!--							<li>Massa euismod tempus</li>			-->
<!--						</ul>-->
<!--						-->
<!--						<a class="button" href="#">Project Details</a>-->
<!--						-->
<!--					</div> end item-details -->
<!--					<div class="clear"></div>-->
<!--				</div> end item 				-->
				
			</div><!-- end portfolio-thumbs -->
			
			<div class="clear"></div>
			
<!--			<ul id="pagination">-->
<!--				<li><a href="#">Prevoius</a></li>-->
<!--				<li><a class="active-nav" href="#">1</a></li>-->
<!--				<li><a href="#">2</a></li>-->
<!--				<li><a href="#">3</a></li>-->
<!--				<li><a href="#">4</a></li>-->
<!--				<li><a href="#">Next</a></li>-->
<!--			</ul> end portfolio-nav -->
		
		</div><!-- end portfolio-content -->
		
	</div><!-- end wrapper -->
	
	</body>

</html>